In [1]:
import kagglehub

import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:,.2f}'.format

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.ensemble import IsolationForest
from sklearn.svm import OneClassSVM
from sklearn.cluster import DBSCAN
from sklearn.metrics import precision_recall_curve, average_precision_score

d:\anaconda3\envs\python_3_12_9\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv("synthetic_card_transactions.csv")
df

      Transaction Index  Amount
0                     1  124.84
1                     2   93.09
2                     3  132.38
3                     4  176.15
4                     5   88.29
...                 ...     ...
9995               9996  165.06
9996               9997    0.08
9997               9998   64.73
9998               9999  124.79
9999              10000  132.22

[10000 rows x 2 columns]